<br>
<br>
<br>
<div class="container pt-2 pl-4 pr-4 pb-4">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid mb-4" src="/images/LogoAppWhite.png" width="300" height="150" >
        </div>
        <div class="col-md-8">
            <div class="w3-col m6 w3-padding-large">
                <h1 class="w3-center mt-4 mt-md-0 text-center text-md-left" style="color: darkred">
                    <strong>
                        About Us
                    </strong>
                </h1>
                <br>
                <p class="w3-large" >
                    We are students of the University of Costa Rica, from the Computer Science career. 
                    This web application is the final project for the elective course: 
                    Development of Internet Applications.
                </p>
            </div>
        </div>
    </div>
</div>