 <div class="Browser">
    <div class="container">
        <div class="titleBrowser mt-4">
            <br>
            <img src="./images/LogoAppWhite.png" title="logo">
            <br>
            <h5 class="mt-2 h4">Find recipes and learn to cook in an innovative way!</h5>
            <br><br>
        </div>
        <div class="principalBrowser mt-4">
            <div class="row-md d-md-flex justify-content-center">
                <div class="col-md-6">
                    <input type="text" id="search" class="form-control" placeholder="Search">
                </div>
                <div class="col-md-2 mt-2 mt-md-0 ">
                    <button class="btn btn-primary">
                        GO!
                    </button>
                </div>
            </div>    
        </div>
    </div>
</div>

