<!DOCTYPE html>
<html lang="en">

<head>
    <title>CookingArt</title>
    <link rel="icon" type="image/png" href="/images/favicon.pngm/myicon.png">
    <!-- BOOTSTRAP 4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    <!-- Animate CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
     <!-- Para el hamburguer Orden es importante-->
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <!--Navigation Bar-->
           <div class="header">
            <div class="container">
                <div class="row">
                    <div class="logo col-4 vertical-align align-items-center" >
                        <a  id ="muro" class="navbar-brand " href="/"><h3 class="cookLink">CookingArt</h3></a>
                    </div>
                <div class="right-header col-8">
                    <div class="d-flex justify-content-end">
                        <nav class="navbar navbar-default  navbar-expand-lg">
                            <div class="container">
                                <div class="navbar-header">
                                    <button id="btn_nav" class="navbar-toggle collapsed d-lg-none" data-toggle="collapse" aria-expanded="false" aria-controls="nav-bar" data-target="#mydropdown" href="menu.png" style="widht:28px;">
                                    </button>
                                    </div>  <!-- Fin del encabezado-->
                                    <div  class="navbar-collapse collapse in navbar-toggleable-xm " id="mydropdown"> <!--Inicio del collapse-->   
                                        <ul class="nav navbar-nav  d-flex align-items-center">
                                            <li><a id="home"href="/" class="nav-link aPrincipal current">Home</a></li> 
                                            <li><a href="/features" class="nav-link aPrincipal">Features</a></li>
                                            <li><a href="/about" class="nav-link aPrincipal">About Us</a></li>
                                            {{#if user}} <!-- Si el usuario esta logeado muestra el dropdown -->
                                            <div class="dropdownContainer  d-lg-flex vertical-align">  <!--Inicio del dropdown-->
                                             <div class="dropdown ">
                                                 <button class="btn_nav dropdown-toggle dropdownNotes" type="button" data-toggle="dropdown">
                                                     Recipes
                                                     <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu"> 
                                                        <li><a class= "nav-link aPrincipal2 text-center text-lg-left" href="/myRecipes">My recipes</a></li>
                                                        <hr class="hrStyle">
                                                        <li><a class= "nav-link aPrincipal2 text-center text-lg-left" href="/logout">Log out</a></li>
                                                    </ul>
                                                </div> 
                                              </div><!--Fin del dropdown-->
                                            {{else}} <!-- Si el usuario no está loggeado, muestra botones de sinUp y signIn.-->
                                            <div class="signIn-Background current "> <!--Espacio para el SignIn-->
                                                <div class="signIn bg-company-white d-flex align-items-center">
                                                    <li><a href="/signup">Sign Up</a></li>
                                                    <span class="text-red">&nbsp/&nbsp</span> 
                                                    <li><a href="/signin">Login</a></li> 
                                                </div>
                                            </div> <!--Fin del singIn Background-->
                                            {{/if}}
                                        </ul> <!--Fin de UL-->
                                    </div> <!--End of Collapse-->
                                </div> <!--End of container-->
                            </nav>
                        </div> <!--End of flex-right-->
                    </div> <!--End of rightHeader-->
                </div> <!--End of row-->
            </div> <!--End of container-->
        </div><!--End of header-->


    <!--Hbs Bodies-->

    {{> messages }}
    {{{ body }}}

</body>
</html>