<div class="container p-4">
    <div class="row">
        <div class="col-md-4">
            <h3 style="text-align: center; color: black">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    Welcome {{user.name}}!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </h3>
            <h3 style="text-align: center; color: black">
                Add new recipe!
            </h3>
            <form id="recipe-form" class="card card-body">
                <div class="form-group">
                    <input type="text" id="title" class="form-control" placeholder="Recipe title" required>
                </div>
                <div class="form-group">
                    <textarea type="text" id="ingredients" class="form-control" placeholder="Ingredients" rows="5" cols="30" required></textarea>
                </div>
                <div class="form-group">
                    <textarea type="text" id="instructions" class="form-control" placeholder="Instructions" rows="5" cols="30" required></textarea>
                </div>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="image" required>
                        <label for="image" id="labelImage" class="custom-file-label">
                            Choose Image
                        </label>
                    </div>
                </div>
                <button class="btn btn-primary">
                    Save changes
                </button>
            </form>
        </div>
        <div class="col-md-8" id="recipes-cards">
        </div>
    </div>
</div>